{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/landing_page.css">
{% endblock %}

{% block body %} {{ super() }}
<div>
  <p class="line-1 anim-typewriter">
      <em>Outside of a dog, a book is a man's best friend</em>
  </p>
  <br />
  <p class="line-2 anim-typewriter" style="">
    Welcome to the WASHERA Book Center
  </p>
</div>
<div class="cont">
  <div class="perspective-text">
    <div class="perspective-line">
      <p></p>
      <p>Books</p>
    </div>
    <div class="perspective-line">
      <p>Are</p>
      <p>THE</p>
    </div>
    <div class="perspective-line">
      <p>Way</p>
      <p>Of</p>
    </div>
    <div class="perspective-line">
      <p>Of</p>
      <p>Life</p>
    </div>
    <div class="perspective-line">
      <p>Life</p>
      <p></p>
    </div>
  </div>
</div>
    <script>
    $('body').css('background-image', 'url("../static/bg_3.jpg")')
    </script>
    <style>
    body{background-image: url("static/bg_3.jpg");}

    </style>
{% endblock %}
