{% extends 'base.html' %}
{% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="../static/css/style_2.css" />
    <link rel="stylesheet" href="../static/css/login.css">
    <script defer src="../static/js/jquery.min.js"></script>
{% endblock %}
{% block body %}
    {{ super() }}
<div class="contain">
  <form method="post">
    {{ name_form.hidden_tag() }}
    <h1>Login</h1>
    <div class="formcontainer">
      <hr />
      <div class="container">
        <label
          for="uname"
          style="color: black; font-weight: bold; font-size: larger"
          ><strong>USERNAME</strong></label
        >
        {{ name_form.email }}
        <label
          for="psw"
          style="color: black; font-weight: bold; font-size: larger"
          ><strong>PASSWORD</strong></label
        >
        {{ name_form.password }}
      </div>
      <button type="submit">{{ name_form.submit(id='sub') }}</button>
    </div>
  </form>
</div>
    <div class="message">

    </div>
    {% for message in get_flashed_messages() %}
        <section style="display: flex; justify-content: center;">
        <div class="message" style="display: flex; justify-content: center; align-content: center; background-color: rgba(0,0,0,0.6); margin-top: 5%; padding: 2%;">
            {{ message }}
        </div>
        </section>
    {% else %}
    {% endfor %}
<script>
    $('.message').slideDown(function() {
    setTimeout(function() {
        $('.message').slideUp();
    }, 3000);
});
    $('body').css('background-image', 'url("../static/cool_bg.jpg")')
</script>

{% endblock %}
