{% extends 'base.html' %} {% block head %} {{ super() }}
<meta charset="UTF-8" />
<link rel="stylesheet" href="../static/css/review.css" />
{% endblock %} {% block body %} {{ super() }}
<div class="wrapwrapper">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2% 2% 2%;
    "
  >
    {% if dets %}
    <div class="details" style="margin-bottom: 1%">
      <img
        src="{{ dets['olc'] }}"
        alt="Cover Art to be displayed here!"
        class="olc"
      />
      <div style="margin-left: 1%">
        <h1
          style="
            background-color: rgba(255, 255, 255, 0.7);
            padding: 2%;
            text-align: center;
          "
        >
          {{ dets['title'] }}
        </h1>
        <h2
          style="
            background-color: rgba(255, 255, 255, 0.7);
            padding: 2%;
            text-align: center;
          "
        >
          {{ dets['fs'] }}
        </h2>
        <h2
          style="
            background-color: rgba(255, 255, 255, 0.7);
            padding: 2%;
            text-align: center;
          "
        >
          <em>Publishers: </em>{{ more_dets['pub']['publishers'] }}
        </h2>
        <h2
          style="
            background-color: rgba(255, 255, 255, 0.7);
            padding: 2%;
            text-align: center;
          "
        >
          <em>Number of Pages:</em> {{ more_dets['nop']['pages'] }}
        </h2>
      </div>
    </div>
  </div>
  {% else %}
  <div><h1>No Data Fetched!</h1></div>
  {% endif %}
  <div class="contain" style="margin-bottom: 20%">
    <form method="post">
      {{ rev.hidden_tag() }}
      <div
        style="
          background-color: rgba(255, 255, 255, 0.7);
          margin-left: 2%;
          margin-right: 2%;
        "
      >
        <h1 contenteditable spellcheck="false">REVIEW</h1>
      </div>

      <div class="formcontainer">
        <hr />
        <div class="container">
          <label
            for="uname"
            style="color: black; font-weight: bold; font-size: larger; border-right: black solid 2px; border-left: black solid 2px; margin-left: 2%"
            ><strong>RATING</strong></label
          >
          {{ rev.rating(style="background-color: rgba(255,255,255,0.8);",
          placeholder="Rate out of 5") }} {{ rev.review(placeholder = "Write the Review here ...", id="review") }}
        </div>
        <hr />
        <button type="submit">{{ rev.submit(id='sub') }}</button>
      </div>
    </form>
  </div>
  <div class="" style="margin-bottom: 5%">
    <h1 class="review_text_target">REVIEWS</h1>
    {% if res %} {% for review in res %}

    <div
      style="
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        margin-right: 5%;
        margin-left: 5%;
      "
      class="review_cont"
    >
      <hr />
      <hr />
      <div class="rating">
        <h1><em>Rating: </em>{{ review['rating']}}/5</h1>
      </div>
      <div style="margin-left: 30%; margin-right: 30%" class="review_text">
          <p>{{ review['review'] }}</p>

      </div>
      <hr />
      <hr />
    </div>
    {% endfor %} {% else %} {% endif %}
  </div>
</div>
{% for message in get_flashed_messages() %}
<div
  class="alert alert-warning custom-warning"
  id="my_div"
  style="margin-left: 40%; margin-right: 40%; margin-top: 2%"
>
  <button type="button" class="close" data-dismiss="alert" id="close_but">
    &times;
  </button>
  {{ message }}
</div>
{% endfor %}
<script>
  $("#close_but").click(function () {
    $("#my_div").hide();
  });
</script>
<style>
  .sidenav {
    background-color: rgba(100, 100, 100, 0.7);
  }
  body {
    background-image: url("/static/review.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>


{% endblock %}
