{% extends 'base.html' %}
{% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="../static/css/style_2.css" />
<title>Search</title>
{% endblock %}


{% block body %} {{ super() }}
<div class="contain">
  <form method="post">
    {{ book_search.hidden_tag() }}
    <h1>Search</h1>
    <div class="formcontainer">
      <hr />
      <hr />
      <div class="inline">
        <span class="container">
          <div
            style="
              background-color: rgba(150, 150, 150, 0.7);
              border: black 0.1em solid;
              padding: 0.5em;
              border-radius: 0.3em;
            "
          >
            {{ book_search.radio_field.label(style='color:black; font-size:
            large; font-weight:bolder; background-color: rgba(40,40,40,0.8);
            padding: 2%; border: 1px solid rgba(40,40,40,0.8);
            border-radius:2%;' ) }}
            <br />
            {% for subfield in book_search.radio_field %}
            <br />
            {{ subfield(class='option-input') }} {{
            subfield.label(style='color:black; font-size: large;
            font-weight:bolder;') }} {% endfor %}
          </div>
          {{ book_search.book_search }}
        </span>
        <span
          ><button type="submit">
            {{ book_search.submit(id='sub') }}
          </button></span
        >
      </div>
    </div>
  </form>
</div>
{% if query %}
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published On</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      {% if book_search.radio_field.data == 'ISBN' %} {% for book in query %}
      <tr>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['title'] }}</a
          ></td>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['author'] }}</a
          ></td>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['year'] }}</a
          ></td>
        <td style="font-size: x-large">
          <a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['isbn'] }}</a
          >
        </td>
      </tr>
      {% endfor %} {% elif book_search.radio_field.data == 'AUTHOR' %} {% for
      book in query %}
      <tr>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['title'] }}</a
          ></td>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['author'] }}</a
          ></td>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['year'] }}</a
          ></td>
        <td style="font-size: x-large">
          <a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['isbn'] }}</a
          >
        </td>
      </tr>
      {% endfor %} {% elif book_search.radio_field.data == 'TITLE' %} {% for
      book in query %}
      <tr>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['title'] }}</a
          ></td>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['author'] }}</a
          ></td>
        <td style="font-size: x-large"><a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['year'] }}</a
          ></td>
        <td style="font-size: x-large">
          <a href="{{ url_for('details', isbn=book['isbn']) }}"
            >{{ book['isbn'] }}</a
          >
        </td>
      </tr>
          {% endfor %} {% else %}
      <div>No Data was fetched!</div>
      {% endif %}
    </tbody>
  </table>
</div>


{% endif %}
    {% for message in get_flashed_messages() %}
        <section style="display: flex; justify-content: center;">
        <div class="message" style="display: flex; justify-content: center; align-content: center; background-color: rgba(0,0,0,0.6); margin-top: 2%; margin-bottom: 5%; padding: 2%;">
            {{ message }}
        </div>
        </section>
    {% else %}
    {% endfor %}


<script>
    $('.message').slideDown(function() {
    setTimeout(function() {
        $('.message').slideUp();
    }, 3000);
});
</script>

<style>
  :root {
    --color: #3c3163;
    --transition-time: 0.5s;
    --primary-c: #2196f3;
    --secondary-c: #b2d7f5;

    --white: #fdfbfb;

    --text: #082943;
    --bg: var(--primary-c);
  }

  * {
    box-sizing: border-box;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 35%;
    margin-right: 35%;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  /* Add some padding inside the card container */
  .holder {
    padding: 2px 16px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  #card {
    border-radius: 5px 5px 0 0;
  }
  .result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
  }
  .inline {
    display: inline;
  }
  #sub {
    background-color: inherit;
    border: none;
    outline: none;
  }
  body {
    background-image: url("../static/search_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    border: 5px solid #f1f1f1;
    margin-top: 0;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
  }
  h1 {
    text-align: center;
    fone-size: 18;
    font-weight: bold;
    background-color: black;
  }
  button:hover {
    opacity: 0.8;
  }
  .formcontainer {
    text-align: left;
    margin: 0px 50px 12px;
  }
  .holder {
    padding: 16px 0;
    text-align: left;
  }
  span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
  }
  /* Change styles for span on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }
  /**Search CSS */
  .searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  }

  .searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
  }

  .searchBox:hover > .searchButton {
    background: white;
    color: #2f3640;
  }

  .searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }

  @media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
    }
  }
  /*Card CSS*/
  a {
    color: inherit;
  }

  .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
  }

  .card {
    font-family: "Heebo", serif;
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(
        rgba(0, 0, 0, var(--bg-filter-opacity)),
        rgba(0, 0, 0, var(--bg-filter-opacity))
      ),
      var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
  }

  .card:hover {
    transform: rotate(0);
  }

  .card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  .card p {
    font-size: 0.75em;
    font-family: "Open Sans";
    margin-top: 0.5em;
    line-height: 2em;
  }

  .card .tags {
    display: flex;
  }

  .card .tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }

  .card:hover .tags .tag {
    background: var(--color);
    color: white;
  }

  .card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: 0.8;
  }

  .card:before,
  .card:after {
    content: "";
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }

  .card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
  }

  .card:after {
    background: white;
    width: 200%;
    height: 200%;
  }

  .card:hover {
    color: var(--color);
  }

  .card:hover:before,
  .card:hover:after {
    transform: scale(1);
  }

  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }

  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }

  .info img {
    height: 3em;
    margin-right: 0.5em;
  }

  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      /margin-left: 0;
      /text-align: center;
    }
  }

  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }

  @media screen and (max-width: 450px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  }
  /* Table Styles */

  .table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  }

  .fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
  }

  .fl-table td,
  .fl-table th {
    text-align: center;
    padding: 8px;
  }

  .fl-table td {
    border-right: 1px solid rgba(0, 0, 0, 1);
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
  }

  .fl-table thead th {
    color: rgba(0, 0, 0, 1);
    background: rgb(142, 191, 66);
    font-size: xx-large;
    text-transform: uppercase;
  }

  .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: rgb(0, 0, 0);
    font-size: xx-large;
  }

  .fl-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .f1-table td {
    font-size: x-large;
  }

  /* Responsive */

  @media (max-width: 767px) {
    .fl-table {
      display: block;
      width: 100%;
    }
    .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
    }
    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
      display: block;
    }
    .fl-table thead th:last-child {
      border-bottom: none;
    }
    .fl-table thead {
      float: left;
    }
    .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }
    .fl-table td,
    .fl-table th {
      padding: 20px 0.625em 0.625em 0.625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
    }
    .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
      display: table-cell;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .fl-table tbody tr:nth-child(odd) {
      background: none;
    }
    .fl-table tr:nth-child(even) {
      background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
      background: #f8f8f8;
      border-right: 1px solid #e6e4e4;
    }
    .fl-table tr td:nth-child(even) {
      border-right: 1px solid #e6e4e4;
    }
    .fl-table tbody td {
      display: block;
      text-align: center;
    }
  }
  #radio_field_label {
    color: black;
    font-size: large;
    font-weight: bold;
  }
  @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: rgba(0, 0, 0, 0.8);
  }
  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: "✔";
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: rgba(0, 0, 0, 0.8);
    content: "";
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
</style>

{% endblock %}
