{% extends 'base.html' %}
    {% block head %}
        {{ super() }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/css/style_2.css" />
        <link rel="stylesheet" href="../static/css/signup.css">
    {% endblock %}

  {% block body %}
      {{ super() }}
      <div class="contain">
  <form method="post">
      {{ name_form.hidden_tag() }}
      <h1>SignUp</h1>
      <div class="formcontainer">
      <hr/>
      <div class="container">
        <label for="uname" style="color: black; font-weight: bold; font-size: larger"><strong>USERNAME</strong></label>
        {{ name_form.email }}
        <label for="psw" style="color: black; font-weight: bold; font-size: larger"><strong>PASSWORD</strong></label>
        {{ name_form.password }}
      </div>
      <button type="submit">{{ name_form.submit(id='sub') }}</button>
      </div> </form>
      </div>



{% endblock %}
